//
//  Production.xcconfig
//
//
//  Created by Vinsi.
//

#include "Base.xcconfig"

// Development Configuration
API_BASE_URL = api.themoviedb.org
ENABLE_DEBUG_FEATURES = NO
LOG_LEVEL = ERROR
SCHEME_NAME = PROD
// Overrides
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
PRODUCT_BUNDLE_IDENTIFIER = com.vinsi.watchly
